
@import '../setup/colors';

// HEADER ======================
header {
	width: 100%;
	background: white;
	border-top: 3px solid #2189f8;
	@media (max-width:1000px) {
		background-position: 20%;
	}
}

// .headerInnerWrap:before {
// 	content: '';
// 	display: block;
// 	position: absolute;
// 	top: 0;
// 	background: url(images/headBG1.jpg);
// 	right: 0;
// 	// backdrop-filter: blur(20px);
// 	filter: blur(0px);
// 	border-top: 3px solid #2189f8;
// 	bottom: 0;
// 	background-repeat: no-repeat;
// 	background-size: cover;
// 	left: 0;
// }

.headerInnerWrap {
	background: url(images/headBG1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	max-width: 1262px;
	height: 100vh;
	min-height: 500px;
	@media (max-width:1000px) {
		background-position: 20%;
	}
}

.headerText {
	width: 100%;
	color: $blue;
	display: flex;
}

.headerBlurb {
	padding: 0 20px 0;
	margin: 100px 0;
	text-align: right;
	display: flex;
	width: 100%;
	flex-direction: column;
	h4 {
		margin: 20px 0 0;
	}
	@media (max-width: 900px) {
		h3 {
			font-size: 4rem;
		}
	}
}

.mobileSubTitle {
	display: none;
}

.container {
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	color: #fff;
	max-width: 1100px;
}
